.containerresetpw {
  text-align: center;
  padding-bottom: 58px;
}

.submitresetpw {
  background-color: red;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  width: 510px;
}

.formpasswordheader {
  border: 3px solid;
  width: 700px;
  height: 400px;
  padding: 10px;
  box-shadow: 20px 10px #888888;
  margin: 20px auto;
}
.forminput {
  margin-top: 50px;
}


.invalidpw{
  margin-top: 100px;
  height: 320px;
}
