.containerforgotpw{
    text-align: center;
    padding-bottom: 50px;

}
.submitforgotpw{
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    width: 512px;
    background-color: red;

}

.forgotpasswordform{
    border: 3px solid;
    width: 700px;
    height: 350px;
    padding: 10px;
    box-shadow: 20px 10px #888888;
    margin: 20px auto;
}

.forgotpassword{
    margin-top: 30px;
}